@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@400&display=swap');

:root {
  --primary-color: #ff0000;
  --secondary-color: #ffd500;
  --background-color: #121212;
  --header-bg-color: #333;
  --text-color: #ffffff;
  --gradient-color-1: #a58fe9;
  --gradient-color-2: #e37682;
  --hover-gradient-color-1: #ffd500;
  --hover-gradient-color-2: #f9ff47;
  --box-shadow-color: #FFA500;
  --fire-effect-color: #FF4500;
  --text-colorlogo:#ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--header-bg-color);
  transition: background-color 0.3s ease;
  z-index: 1000;
  padding: 15px;
}

.navbar {
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

header.scrolled {
  background-color: rgba(0, 0, 0, 0.7);
}

.logo {
  text-shadow: -1px -1px 0 var(--text-colorlogo), -1px 2px 0 var(--text-colorlogo), 1px 1px 10px #141414;
  color: var(--header-bg-color);
  font-size: 25px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  position: relative;
  z-index: 5;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  position: relative;
  padding: 10px 15px;
  font-weight: bold;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  background: linear-gradient(45deg, var(--gradient-color-1), var(--gradient-color-2));
  background-clip: text;
  -webkit-background-clip: text;
  box-shadow: 0 0 1px var(--box-shadow-color);
}

.nav-links a:hover {
  color: transparent;
  background: linear-gradient(45deg, var(--hover-gradient-color-1), var(--hover-gradient-color-2));
  background-clip: text;
  -webkit-background-clip: text;
  box-shadow: 0 0 10px var(--hover-gradient-color-1), 0 0 15px var(--hover-gradient-color-2);
}

.nav-links a:before,
.nav-links a:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: 0;
  transition: 0.5s;
  transform-origin: center;
}

.nav-links a:before {
  transform: rotateZ(60deg);
}

.nav-links a:after {
  transform: rotateZ(-60deg);
}

.nav-links a:hover {
  border-radius: 50px;
}

.nav-links a:hover:before {
  border-radius: 50px;
}

.nav-links a:hover:after {
  border-radius: 50px;
}

@keyframes fire-effect {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px var(--fire-effect-color), 0 0 15px var(--fire-effect-color);
  }

  50% {
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--fire-effect-color), 0 0 30px var(--fire-effect-color);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 10px var(--fire-effect-color), 0 0 20px var(--fire-effect-color);
  }
}

.burger {
  display: none;
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.line {
  width: 100%;
  height: 5px;
  background-color: var(--box-shadow-color);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.burger.active .line:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.burger.active .line:nth-child(2) {
  opacity: 0;
}

.burger.active .line:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

@media (min-width: 769px) {
  .burger {
    display: none;
  }
}


/* ========================== STYLE ACCEUIL ============================= */
#accueil {
  --primary-color: #FFDF00;
  --text-color: #fff;
  --background-color: rgba(0, 0, 0, 0.7);

  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
  z-index: 1;
  overflow: hidden;
}

#accueil .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#accueil .content {
  position: relative;
  z-index: 1;
}

#accueil h1 {
  font-size: 48px;
  font-weight: bold;
  animation: fadeIn 3s ease-in-out;
  margin-bottom: 10px;
}

#accueil p {
  font-size: 20px;
  margin-top: 10px;
  opacity: 0;
  animation: fadeIn 3s ease-in-out 1s forwards;
}

#accueil .btn {
  margin-top: 30px;
  padding: 12px 25px;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


.cv-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #FFD700; 
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.cv-link:hover {
  background-color: #555; 
  color: #e5ff00;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  #accueil {
    height: 50vh;
    background-size: cover;
  }

  #accueil .content {
    padding: 15px;
  }

  #accueil h1 {
    font-size: 32px;
    margin-bottom: 5px;
  }

  #accueil p {
    font-size: 18px;
    margin-top: 5px;
  }

  #accueil .btn {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  #accueil {
    height: 50vh;
  }

  #accueil h1 {
    font-size: 24px;
  }

  #accueil p {
    font-size: 16px;
  }

  #accueil .btn {
    padding: 8px 15px;
    font-size: 14px;
    margin-top: 20px;
  }

  .logo {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    position: fixed;
    top: 60px;
    right: -100%;
    background-color: var(--background-color);
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    transition: right 0.5s ease;
    z-index: 10;
  }

  .nav-links.active {
    right: 20px;
  }

  .burger {
    display: flex;
  }
}

@media (max-width: 768px) {
  #accueil h1 {
    margin-top: 80px;
  }

  #accueil p {
    font-size: 1px;
  }
}



/* ========================== BARRE VIOLETTE DEFILENTE ============================= */

.sleek-scrolling-bar {
  --background-color: #000000;
  --text-color: #ffffff;
  --border-color: #FFD700;
  --box-shadow-color: rgba(0, 0, 0, 0.15);

  background: var(--background-color);
  color: var(--text-color);
  padding: 11px;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  margin: 30px auto;
  max-width: 90%;
  border: 1px solid var(--border-color);
  box-shadow: 0 8px 20px var(--box-shadow-color);
}

.sleek-scrolling-bar p {
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  animation-delay: 1s;
  animation: sleek-scrolling 25s linear infinite;
  margin: 0;
}

@keyframes sleek-scrolling {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}


/*============================= STYLE2 POUR L IMAGE ET LE TEXTE A PROPOS DE MOI  ======================*/
.main-content {
  --primary-color: #FFD700;
  --text-color: #fff;
  --background-color: #000000;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
  --highlight-color: #FFD700;
  --border-color: #FFD700;

  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  gap: 40px;
}

.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  padding-left: 40px;
}

.right-column {
  flex: 1;
  display: flex;
  justify-content: center;
}

.profile-image {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.small {
  font-size: 15px;
}

.large {
  font-size: 32px;
  font-weight: bold;
}

.highlight {
  color: var(--highlight-color);
}

/* Conteneur principal */
.cta {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin: 20px;
}

/* Bouton principal */
.cta button {
  padding: 12px 25px;
  font-size: 18px;
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--border-color);
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease, box-shadow 0.5s ease, filter 0.5s ease;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  display: inline-block;
  box-shadow: 0 8px 15px var(--box-shadow-color);
}

/* Effet de remplissage interne sur le bouton */
.cta button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffd9002a;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
  z-index: -1;
}
.cta button:hover::before {
  transform: scaleX(1);
}

/* Icônes sociales */
.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: transparent;
  text-decoration: none;
  color: var(--primary-color);
  border: 2px solid var(--border-color);
  transition: transform 0.5s ease, box-shadow 0.5s ease, filter 0.5s ease;
  position: relative;
  overflow: hidden;
  box-shadow: 0 8px 15px var(--box-shadow-color);
  /* Ombre douce */
}

.social-icons .icon::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff6d;
  transform: scale(0);
  transition: transform 0.4s ease;
  z-index: -1;
  border-radius: 50%;
}

.social-icons .icon:hover::before {
  transform: scale(1);
}

.social-icons .icon i {
  font-size: 22px;
  transition: transform 0.3s ease;
}

.social-icons .icon:hover i {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .cta {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .cta button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
  }

  .social-icons {
    justify-content: center;
  }

  .social-icons .icon {
    width: 40px;
    height: 40px;
  }

  .social-icons .icon i {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .cta button {
    padding: 12px;
    font-size: 14px;
  }

  .social-icons .icon {
    width: 35px;
    height: 35px;
  }

  .social-icons .icon i {
    font-size: 16px;
  }
}

/* ====================== MODAL ============================= */
.modal {
  --modal-background-color: #000000;
  --modal-box-shadow-color: rgba(0, 0, 0, 0.3);
  --modal-padding: 20px;
  --modal-border-radius: 8px;
  --modal-max-width: 400px;
  --modal-width: 90%;
  --modal-image-size: 100px;
  --modal-image-border-radius: 50%;
  --modal-close-font-size: 24px;

  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: var(--modal-background-color);
  border-radius: var(--modal-border-radius);
  box-shadow: 0 4px 20px var(--modal-box-shadow-color);
  max-width: var(--modal-max-width);
  width: var(--modal-width);
  padding: var(--modal-padding);
}

.modal-content {
  text-align: center;
}

.modal-content img {
  width: var(--modal-image-size);
  height: var(--modal-image-size);
  border-radius: var(--modal-image-border-radius);
  margin-bottom: 10px;
}

.modal-content h2 {
  margin: 10px 0;
}

#close-modal {
  cursor: pointer;
  float: right;
  font-size: var(--modal-close-font-size);
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .left-column {
    text-align: center;
    padding-left: 0;
  }

  .right-column {
    margin-top: 20px;
  }

  .profile-image {
    max-width: 100%;
  }

  .social-icons {
    justify-content: center;
  }
}


/*============================= STYLE2 POUR LES PROJETS ===============================**/
#projets {
  --primary-color: #FFD700;
  --secondary-color: #4B0082;
  --text-color: #000000;
  --tiret-color: #ffffff;
  --background-color: #fafafa;
  --border-color: rgba(0, 0, 0, 0.1);
  --hover-color: #fafafa;
  --link-color: #000000;
  --link-hover-color: #000000;
  --footer-color: #e31b23;
  --button-background-color: #FCFCFD;
  --button-text-color: #36395A;
  --button-shadow-color: rgba(255, 251, 0, 0.836);
  --button-hover-shadow-color: rgba(45, 35, 66, 0.4);
  --button-active-shadow-color: #D6D6E7;
}

#projets img {
  display: block;
  max-width: 100%;
  height: auto;
}

#projets ol {
  list-style: none;
}

#projets a {
  text-decoration: none;
  color: var(--text-color);
}

#projets body {
  margin: 50px 0;
  color: var(--text-color);
  font: 16px/20.8px sans-serif;
}

#projets .projects {
  padding: 24px;
}

#projets .conteneur {
  max-width: 1310px;
  margin: 0 auto;
  padding: 30px;
}

#projets h1 {
  color: var(--primary-color);
  margin: 30px auto;
  width: 50%;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 5px;
  border-top: 1px solid var(--tiret-color);
  border-bottom: 1px solid var(--tiret-color);
}

#projets input[type="radio"] {
  position: absolute;
  left: -9999px;
}

/* FILTRES */
#projets .filtres {
  text-align: center;
  margin-bottom: 32px;
}

#projets .filtres * {
  display: inline-block;
}

#projets .filtres label {
  padding: 8px 16px;
  margin-bottom: 4px;
  border-radius: 32px;
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
}

#projets .filtres label:hover {
  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
  color: var(--hover-color);
}

/* ÉLÉMENTS FILTRÉS (PROJETS) */
#projets .projets {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(4, 1fr);
}

#projets .projets .projet {
  display: none;
  background: var(--background-color);
  border: 1px solid var(--border-color);
}

#projets .projets .titre-projet {
  font-size: 20.8px;
}

#projets .projets .titre-projet:hover {
  text-decoration: underline;
}

#projets .projets figcaption {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.categories-projet li {
  color: var(--text-color);
  border: 2px solid rgba(97, 79, 13, 0.329);
  padding: 8px 8px;
  border-radius: 5px;
  font-size: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.categories-projet {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  list-style: none;
}

#projets .projets img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#projets .github-link {
  color: var(--link-color);
  border: none;
  position: relative;
  height: 45px;
  font-size: 14px;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  text-decoration: none;
  text-transform: none;
  display: inline-flex;
  justify-content: center;
  max-width: 200px;
  text-align: center;
  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
}

#projets .github-link:hover {
  background: var(--link-hover-color);
  color: var(--primary-color);
}

#projets .github-link:before,
#projets .github-link:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: var(--primary-color);
  transition: 400ms ease all;
}

.projets .projet .titre-projet {
  font-size: 24px;
  color: var(--text-color);
  margin-bottom: 16px;
  text-transform: uppercase;
  text-align: center;
}

.projets .projet p {
  font-size: 16px;
  line-height: 25.6px;
  color: var(--text-color);
  margin-top: 8px;
  text-align: justify;
}

#projets .github-link:hover:before,
#projets .github-link:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

/* RÈGLES DE FILTRAGE */
#projets *:has([value="Tous"]:checked) .filtres [for="Tous"],
#projets *:has([value="Web"]:checked) .filtres [for="Web"],
#projets *:has([value="React"]:checked) .filtres [for="React"],
#projets *:has([value="C"]:checked) .filtres [for="C"] {
  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
  color: var(--hover-color);
}

#projets *:has([value="Tous"]:checked) .projets [data-category],
#projets :has([value="Web"]:checked) .projets [data-category~="Web"],
#projets *:has([value="React"]:checked) .projets [data-category~="React"],
#projets *:has([value="C"]:checked) .projets [data-category~="C"] {
  display: block;
}

#projets footer span {
  color: var(--footer-color);
}

@media screen and (max-width: 900px) {
  #projets .projets {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  #projets html {
    font-size: 14px;
  }

  #projets .projets {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  #projets .projets {
    grid-template-columns: 1fr;
  }

  #projets .filtres label {
    display: block;
    margin: 8px auto;
  }
}

.links-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.github-link {
  text-decoration: none;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}

/*Style bouton projets pros */
.button-container {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: var(--button-background-color);
  border-radius: 4px;
  border-width: 0;
  box-shadow: var(--button-shadow-color) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: var(--button-text-color);
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 16px;
}

@media (max-width: 768px) {
  .button-30 {
    font-size: 14px;
    padding: 0 12px;
    width: 100%;
    margin-bottom: 10px;
  }
  .button-container {
    flex-direction: column;
    align-items: stretch;
  }
}

@media (max-width: 768px) {
  #projets h1 {
    font-size: 24px;
    width: 80%;
    margin: 20px auto;
  }
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, var(--button-hover-shadow-color) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: var(--button-hover-shadow-color) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: var(--button-active-shadow-color) 0 3px 7px inset;
  transform: translateY(2px);
}

/*============================= STYLE2 POUR LES COMPTEMCES ================================*/
#compétences {
  --primary-color: #FFD700;
  --secondary-color: #4B0082;
  --text-color: #FFFFFF;
  --border-color: #FFFFFF;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --hover-box-shadow-color: rgba(0, 0, 0, 0.2);

  margin-top: 50px;
  padding: 20px;
}

#compétences h1 {
  color: var(--primary-color);
  margin: 20px auto;
  width: 50%;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 5px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  max-width: 1200px;
  margin: 10px auto;
  padding: 20px;
  box-shadow: 0 10px 30px var(--box-shadow-color);
}

.image-container {
  flex: 1;
  max-width: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.image-container img {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: block;
}

.skills-container {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skill-category h2 {
  margin-bottom: 10px;
  font-size: 15px;
  color: var(--text-color);
  position: relative;
  padding-bottom: 5px;
}

.skill-category h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70px;
  height: 2px;
  background: var(--primary-color);
  border-radius: 2px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.skill {
  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
  padding: 7px;
  text-align: center;
  font-size: 10px;
  color: var(--text-color);
  box-shadow: 0 3px 10px var(--box-shadow-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px var(--hover-box-shadow-color);
}

@media (max-width: 768px) {
  #compétences h1 {
    font-size: 24px;
    width: 80%;
    margin: 20px auto;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .image-container,
  .skills-container {
    max-width: 100%;
  }

  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }

  .skill-category h2 {
    font-size: 20px;
  }

  #compétences > h1 {
    font-size: 20px;
    margin: 20px auto 30px;
    width: 90%;
  }

  .skill {
    font-size: 12px;
  }
}


/*============================= STYLE SECTION FORMATION =================================*/
#formation {
  --primary-color: #FFD700;
  --secondary-color: #4B0082;
  --text-color: #FFFFFF;
  --border-color: #FFFFFF;
  --line-color: rgb(255, 255, 255);
  --point-color: #000;
  --date-color: #FFD700;
  --description-color: #ffffff;
  --hover-color: #FFD700;
}

#formation > h1 {
  color: var(--primary-color);
  margin: 30px auto 200px;
  width: 50%;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 5px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

section#formation {
  margin-top: -1px;
  height: auto;
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

/* Ligne horizontale */
.timeline::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--line-color);
  z-index: 1;
}

.point {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--point-color);
  position: relative;
  z-index: 2;
}

/* Couleurs des points */
.point.red,
.point.green,
.point.yellow,
.point.white {
  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
}

.description {
  position: absolute;
  width: 200px;
  text-align: center;
  font-size: 14px;
  color: var(--description-color);
}

/* Positionnement des descriptions */
.description.top {
  bottom: 50px;
}

.description.bottom {
  top: 50px;
}

/* Alignement des points et descriptions */
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.date {
  font-weight: bold;
  margin-left: 10px;
  position: absolute;
  white-space: nowrap;
  color: var(--date-color);
}

.date.red,
.date.green,
.date.yellow,
.date.white {
  color: var(--date-color);
}

.date.top {
  bottom: 20px;
}

.date.bottom {
  top: 20px;
}

@media (max-width: 768px) {
  #formation > h1 {
    margin: 20px auto 30px;
    font-size: 24px;
  }

  .timeline {
    flex-direction: column;
    align-items: flex-start;
  }

  .timeline::before {
    top: 0;
    bottom: 0;
    left: 10px;
    width: 2px;
    height: 100%;
    background: var(--line-color);
  }

  .item {
    margin-bottom: 40px;
    margin-left: 0;
    padding-left: 30px;
    width: 100%;
  }

  .point {
    position: absolute;
    left: 1px;
    top: 50%;
    transform: translateY(-50%);
  }

  .description {
    position: static;
    width: 100%;
    margin-top: 10px;
    text-align: left;
    padding-left: 20px;
  }

  .description.top,
  .description.bottom {
    position: static;
    margin-top: 10px;
  }

  .date.top,
  .date.bottom {
    position: static;
    margin-top: 10px;
    margin-left: 0;
  }
}

#progress-circle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  height: 60px;
}

@media (max-width: 480px) {
  #formation > h1 {
    width: 90%;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .timeline {
    padding: 0 5px;
  }

  .description {
    padding-left: 10px;
    text-align: left;
    font-size: 12px;
  }

  .point {
    width: 18px;
    height: 18px;
  }
}


/*============================= STYLE SECTION EXPERIENCES =======================*/
.experience-section {
  --primary-color: #FFD700;
  --secondary-color: #FFAA33;
  --tertiary-color: #8A2BE2;
  --text-color: #FFFFFF;
  --border-color: #FFD700;
  --box-shadow-color: rgba(255, 215, 0, 0.4);
  --background-color: rgba(34, 34, 34, 0.9);
  --background-color-secondary: rgba(51, 51, 51, 0.9);

  padding: 40px;
  text-align: center;
  margin-top: 100px;
}

#experiences > h2 {
  margin: 30px auto 200px;
  width: 50%;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 5px;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  color: var(--primary-color);
}

#experiences > h2 {
  font-size: 32px;
  margin-top: 60px;
  margin-bottom: 90px;
}

.experience-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

.experience {
  background: linear-gradient(135deg, var(--background-color), var(--background-color-secondary));
  border: 2px solid var(--border-color);
  border-radius: 12px;
  padding: 20px;
  width: 320px;
  box-shadow: 0px 4px 15px var(--box-shadow-color);
  transition: transform 0.3s ease-in-out;
}

.experience:hover {
  transform: scale(1.05);
}

h3 {
  color: var(--primary-color);
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
  font-size: 16px;
}

p {
  font-size: 18px;
  margin: 10px 0;
}

.highlight {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 20px;
}

.tool {
  color: var(--tertiary-color);
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 768px) {
  .experience-section {
    padding: 20px;
  }

  #experiences > h2 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .experience-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .experience {
    width: 90%;
  }

  #experiences > h2 {
    width: 80%;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 10px;
  }

  h3 {
    font-size: 20px;
  }

  ul {
    font-size: 14px;
  }

  li {
    font-size: 14px;
  }

  p {
    font-size: 16px;
  }

  .highlight {
    font-size: 18px;
  }

  .tool {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .experience-section {
    padding: 15px;
  }

  #experiences > h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .experience-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  #experiences > h2 {
    width: 90%;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 8px;
  }

  .experience {
    width: 95%;
  }

  h3 {
    font-size: 18px;
  }

  ul {
    font-size: 12px;
  }

  li {
    font-size: 12px;
  }

  p {
    font-size: 14px;
  }

  .highlight {
    font-size: 16px;
  }

  .tool {
    font-size: 14px;
  }
}

/* ======================= SECTION ENGAGEMENTS ===================== */
#engagements {
  --primary-color: #FFD700;
  --secondary-color: #ffffff;
  --text-color: #000000;
  --border-color: #ffffff;
  --background-color: #f1c40f;
  --background-color-purple: #8e44ad;
  --box-shadow-color: rgba(0, 0, 0, 0.2);

  color: var(--text-color);
  padding: 80px 0;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

#engagements h1 {
  margin: 30px auto;
  width: 50%;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 5px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  color: var(--primary-color);
}

#engagements .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 0px 20px;
}

.engagements-container {
  width: 660px;
  text-align: left;
}

.engagements-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.engagement-category {
  width: 310px;
}

.engagement-category h2 {
  font-size: 25px;
  color: var(--secondary-color);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.engagement-category img {
  width: 22px;
  height: 22px;
}

.engagements-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.engagement {
  background-color: var(--background-color);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 3px 3px 8px var(--box-shadow-color);
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
  min-height: 90px;
  justify-content: flex-start;
  width: 100%;
}

.engagement.purple {
  background-color: var(--background-color-purple);
  color: var(--text-color);
}

.engagement img {
  width: 30px;
  height: 30px;
}

.image-container.engagement-image {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.image-container.engagement-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 3px 3px 8px var(--box-shadow-color);
}

@media (max-width: 900px) {
  #engagements .container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .engagements-container {
    width: 100%;
  }

  .engagements-row {
    flex-direction: column;
  }

  .engagement-category {
    width: 100%;
  }

  .image-container.engagement-image {
    width: 80%;
    margin-bottom: 20px;
  }

  .engagement {
    min-height: auto;
  }
}

@media (max-width: 480px) {
  #engagements h1 {
    width: 90%;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 8px;
  }
}


/* ============================ SECTION VEILLE TECHNO =========================== */

#ia-veilles {
  --primary-color: #ffd700;
  --text-color: #f9f9f9;
  --background-color: #0e0e0e;
  --background-primary-color: #2b2b2b;
  --background-secondary-color: #1c1c1c;
  --secondary-color: #9b59b6;
  --text-secondary-color: #dddddd;
  
  padding: 60px 20px;
  color: var(--text-color);
  font-family: 'segoe ui', sans-serif;
}

.ia-wrapper {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

/* titre principal */
.ia-title {
  font-size: 30px;
  color: var(--primary-color);
  margin-bottom: 50px;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);

  margin: 30px auto;
  width: 90%;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
   
}

/* grille des blocs */
.ia-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  margin-bottom: 40px;
}

/* blocs */
.ia-block {
  background: linear-gradient(145deg, var(--background-secondary-color), var(--background-primary-color));
  padding: 25px;
  border: 1px solid var(--primary-color);
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
  margin-top: 30px;
}

.ia-block:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 30px rgba(155, 89, 182, 0.4);
}

/* titres des blocs */
.ia-block h3 {
  color: var(--primary-color);
  font-size: 24px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* textes des blocs */
.ia-block p {
  color: var(--text-secondary-color);
  font-size: 16px;
  line-height: 1.6;
}

/* lien en bas */
.ia-link {
  display: inline-block;
 padding: 12px 24px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.ia-link:hover {
  background-color: var(--primary-color);
  color: #111;
  transform: scale(1.05);
}


/*=========================== STYLE FOOTER GLOBAL ===========================*/
.custom-footer {
  --background-color: #1a1a1a;
  --text-color: #f5f5f5;
  --icon-color: #ffcc00;
  --divider-color: #48484b;
  --link-color: #f5f5f5;
  --link-hover-color: #9b59b6;
  --social-link-color: #ffffff;
  --social-link-hover-color: #ffcc00;
  --final-background-color: #333333;
  --final-text-color: #ffcc00;

  background-color: var(--background-color);
  color: var(--text-color);
  padding: 30px 15px;
  font-family: 'Poppins', sans-serif;
}

.custom-footer .footer-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  gap: 10px;
}

.custom-footer .contact-item {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
  justify-content: center;
}

.custom-footer .contact-item i {
  font-size: 18px;
  color: var(--icon-color);
}

.custom-footer .footer-divider {
  width: 90%;
  border-top: 1px;
  margin: 15px auto;
  border-color: var(--divider-color);
}

.custom-footer .footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  gap: 15px;
}

.custom-footer .footer-links,
.custom-footer .footer-social {
  width: 45%;
  min-width: 220px;
}

.custom-footer .footer-links h4,
.custom-footer .footer-social h4 {
  font-size: 16px;
  margin-bottom: 8px;
  color: var(--icon-color);
}

.custom-footer .footer-links ul,
.custom-footer .footer-social ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 0;
}

.custom-footer .footer-links ul li a,
.custom-footer .footer-social ul li a {
  font-size: 14px;
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.custom-footer .footer-links ul li a:hover,
.custom-footer .footer-social ul li a:hover {
  color: var(--link-hover-color);
}

.custom-footer .footer-social ul li a {
  font-size: 20px;
  color: var(--social-link-color);
  transition: 0.3s;
}

.custom-footer .footer-social ul li a:hover {
  color: var(--social-link-hover-color);
}

.custom-footer .footer-final {
  margin-top: 20px;
  background-color: var(--final-background-color);
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  color: var(--final-text-color);
}

@media (max-width: 768px) {
  .custom-footer .footer-contact {
    flex-direction: column;
    gap: 10px;
  }

  .custom-footer .footer-middle {
    flex-direction: column;
    gap: 20px;
  }

  .custom-footer .footer-links,
  .custom-footer .footer-social {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .custom-footer .footer-links ul,
  .custom-footer .footer-social ul {
    gap: 10px;
  }

  .custom-footer .contact-item {
    font-size: 12px;
  }

  .custom-footer .contact-item i {
    font-size: 16px;
  }
}





































